﻿@model PFCAssignment.Models.CreateBookingRequest

@{
    ViewData["Title"] = "Details";
}

<h1>Create Booking</h1>

<div>
    <h4>Confirm Details</h4>
    <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PickUpAddress)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PickUpAddress)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DropOffAddress)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DropOffAddress)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CarType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CarType)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TripPrice)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TripPrice)
            </dd>
        </dl>
    <hr/>
        <div class="row">
            <div class="col-2">
                @Html.ActionLink("Create Booking", "InsertBooking", "Bookings", null, new { @class = "btn btn-danger" })
            </div>
            <div class="col-2">
                @Html.ActionLink("Change Details", "Create", "Bookings", null, new { @class = "btn btn-primary" })
            </div>
        </div>
</div>

