﻿@model PFCAssignment.Models.CreateBookingRequest

@{
    ViewData["Title"] = "GetAvailableJobs";
}

<META HTTP-EQUIV="refresh" content="15" />

<h1>Available Job</h1>

<hr />

@if (ViewBag.Message != null)
{
    <div class="alert alert-info" role="alert">
        @ViewBag.Message
    </div>
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Error
    </div>
}

@if (Model != null)
{
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PickUpAddress)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => modelItem.PickUpAddress)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DropOffAddress)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => modelItem.DropOffAddress)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CarType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => modelItem.CarType)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Passenger.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => modelItem.Passenger.Email)
            </dd>
        </dl>
    </div>

    <div>
        @Html.ActionLink(
        linkText: "Acknowledge",
        actionName: "Acknowledge",
        controllerName: "Bookings",
        routeValues: new
        {
            createBookingRequestStr = ViewBag.Request,
            ackIds = ViewBag.AckIds
        },
        htmlAttributes: new { @class = "btn  btn-primary" }
    )
    </div>
}


