﻿@model IEnumerable<PFCAssignment.Domain.Booking>

@{
    ViewData["Title"] = "Acknowledged Bookings";
}

@if (ViewBag.Message != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.Message
    </div>
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Error
    </div>
}

<h1>Confirmed Bookings</h1>
<hr />

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PickUpAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DropOffAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Acknowledged)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AssignedCarId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PassengerId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DriverId)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PickUpAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DropOffAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Acknowledged)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssignedCarId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PassengerId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DriverId)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info" role="alertdialog">
        There are currently no acknowledged bookings
    </div>
}
