﻿
@{
    ViewData["Title"] = "ListRoles";
}

@if (ViewBag.Message != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.Message
    </div>
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Error
    </div>
}

<h1>List of Roles</h1>
<div class="row justify-content-between">
    <div class="col">
        <a asp-action="Create" class="btn btn-primary">Create</a>
        <a asp-action="UpdateUserRole" class="btn btn-danger">Update a User's role</a>
    </div>
</div>

<hr>


@if (Model.Count != 0)
{
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model)
            {
                <tr>
                    <td>@role.Id</td>
                    <td>@role.Name</td>
                </tr>

            }
        </tbody>
    </table>

}
@if (Model.Count == 0)
{
    <div class="alert alert-info" role="alert">
        There are currently no roles
    </div>
}



