﻿
@{
    ViewData["Title"] = "Update User Role";
}
<h1>Update User Role</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateUserRole">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label name="userName" class="control-label">Username</label>
                <select name="userName" class="form-control" asp-items="@ViewBag.Users"></select>
            </div>
            <div class="form-group">
                <label name="role" class="control-label">Role</label>
                <select name="role" class="form-control" asp-items="@ViewBag.Roles"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="ListRoles">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
