﻿@model PFCAssignment.Models.CarCategoryResponse
@{
    ViewData["Title"] = "UpdatePrice";
}
<h1>Update Car Category Pricing</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdatePrice" asp-controller="CarCategoryPricing">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CarCategoryType" class="control-label"></label>
                <select asp-for="CarCategoryType" asp-items="Html.GetEnumSelectList<CarCategory>()" class="form-control"></select>
                <span asp-validation-for="CarCategoryType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" type="number" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
