﻿@model PFCAssignment.Domain.Car
@{
    ViewData["Title"] = "Register a Car";
}

@if (ViewBag.Message != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.Message
    </div>
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Error
    </div>
}

<h1>Register</h1>

<h4>Car</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PassengerCapacity" class="control-label"></label>
                <input asp-for="PassengerCapacity" type="number" class="form-control" />
                <span asp-validation-for="PassengerCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarCategory" class="control-label"></label>
                <select asp-for="CarCategory" asp-items="Html.GetEnumSelectList<CarCategory>()" class="form-control"></select>
                <span asp-validation-for="CarCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarCategory" class="control-label"></label>
                <select asp-for="Condition" asp-items="Html.GetEnumSelectList<CarCondition>()" class="form-control"></select>
                <span asp-validation-for="Condition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistrationPlate" class="control-label"></label>
                <input asp-for="RegistrationPlate" class="form-control" />
                <span asp-validation-for="RegistrationPlate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasAC" /> @Html.DisplayNameFor(model => model.HasAC)
                </label>
            </div>
            <div class="form-group">
                <label class="control-label">Upload a file</label>
                <input type="file" name="carPhoto" class="form-control" />
                <span name="carPhoto" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasWifi" /> @Html.DisplayNameFor(model => model.HasWifi)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AllowsFoodDrink" /> @Html.DisplayNameFor(model => model.AllowsFoodDrink)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
