﻿@model PFCAssignment.Domain.Car

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Car</h4>
    <hr />
    @if(@Model == null ){
    <div class="alert alert-info" role="alert">
        You currently have no cars registered
    </div>

    <p>
        <a class="btn btn-primary" asp-action="Create">Register Car</a>
    </p>
    }else
    {
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PassengerCapacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PassengerCapacity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarCategory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarCategory)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Condition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Condition)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationPlate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegistrationPlate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HasAC)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HasAC)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.Photo" style="width:230px;height:150px" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HasWifi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HasWifi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AllowsFoodDrink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AllowsFoodDrink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Driver)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Driver.Email)
        </dd>
    </dl>
    <div>
        <a asp-action="Delete" asp-route-id="@Model.CarId" class="btn btn-danger">Delete Car</a>
    </div>
    }
</div>

